#cli_intro
{
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 2.5vw;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

#cli_container
{
  font-family: "VT323", monospace;
  justify-content: center;
  align-items: center;
}

#cli_terminal
{
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  color: inherit;
}

#cli_commandInput
{
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  width: 86vw;
  color: inherit;
}
