#gui_container
{
  font-family: "VT323", monospace;
  width: 100vw;
  height: 100vh;
  background-color: #6b21a8;
  overflow: hidden;
}

.gui_window
{
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: transparent;
  border: 2px solid #6347a0;
  overflow: hidden;
}

.gui_window_bar
{
  background-color: #6e55a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  font-weight: bold;
}

.gui_window_close_btn
{
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.gui_window_close_btn:hover
{
  background-color: red;
}

.gui_window_content
{
  width: inherit;
  height: inherit;
}

.gui_icon_container
{
  display: grid;
  gap: clamp(8px, 2vw, 24px);
  grid-template-columns: repeat(auto-fit, clamp(75px, 10vw, 25vw));
  user-select: none;
}

.gui_icon
{
  width: clamp(32px, 7vw, 100vw);
  height: clamp(32px, 10vh, 100vh);
  display: block;
  object-fit: contain;
}

.gui_header
{
  color: white;
  margin: 0;
  user-select: none;
}

.gui_card
{
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: self-start;
  word-break: break-word;
  text-overflow: ellipsis;
}

.gui_card:hover
{
  background-color: #7e22ce;
  border-radius: 6px;
  cursor: pointer;
}

.gui_tabs-container
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: clamp(0.5rem, 1vw + 0.5rem, 1.75rem);
}

.gui_tabs-header
{
  display: flex;
  flex-direction: column;
  background-color: #624a99;
  width: 25vw;
  height: 100%;
  gap: 8px;
  user-select: none;
}

.gui_tabs-content
{
  width: 100%;
  height: 100%;
  background-color: #8771be;
}

.gui_tab-button
{
  background-color: inherit;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.gui_tab-button.active
{
  background-color: #6d54a7;
}

.gui_tab-button:hover
{
  background-color: #9074cb;
}

.gui_tab-panel
{
  background-color: inherit;
  color: white;
  border-radius: 8px;
  height: 100%;
  overflow-y: auto;
}

.gui_file_explorer_container
{
  width: inherit;
  height: inherit;
}

.gui_notepad_container
{
  background-color: white;
  color: black;
  width: inherit;
  height: inherit;
}
