#gui_container
{
  font-family: "VT323", monospace;
  width: 100vw;
  height: 100vh;
  background-color: #6b21a8;
  overflow: hidden;
}

.gui_window
{
  position: absolute;
  width: 150px;
  background-color: transparent;
  border: 2px solid #aa5;
}

.gui_window_bar
{
  background-color: #6e55a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 10;
  font-weight: bold;
}

.gui_window_close_btn
{
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.gui_window_close_btn:hover
{
  background-color: red;
}

.gui_icon
{
  width: 100%;
  height: 65%;
}

.gui_header
{
  color: white;
  margin: 0;
}

.gui_card
{
  background-color: #6b21a8;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.gui_card:hover
{
  background-color: #7e22ce;
}

.gui_tabs-container
{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gui_tabs-header
{
  display: flex;
  flex-direction: column;
  background-color: #624a99;
  height: 100vh;
  gap: 8px;
}

.gui_tabs-content
{
  width: 100vw;
  height: 100vh;
  background-color: #8771be;
}

.gui_tab-button
{
  background-color: inherit;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.gui_tab-button.active
{
  background-color: #6d54a7;
}

.gui_tab-button:hover
{
  background-color: #9074cb;
}

.gui_tab-panel
{
  padding: 16px;
  background-color: inherit;
  color: white;
  border-radius: 8px;
}
