#landing_container
{
  width: 100vw;
  height: 100vh;
  font-family: "VT323", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

#landing_slider
{
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  background-color: #131516;
  visibility: hidden;
  top: 0%;
  right: 0%;
  width: 102%;
  height: 90.5%
}

#landing_container.init #landing_slider
{
  visibility: visible;
}

#landing_banner
{
  transition: transform 1.5s ease-in-out;
  transform: translateY(0);
}

#landing_container.init #landing_banner
{
  transform: translateY(100%);
}

#landing_contact
{
  visibility: visible;
}

#landing_container.init #landing_contact
{
  visibility: hidden;
}

#landing_info
{
  visibility: visible;
}

#landing_container.init #landing_info
{
  visibility: hidden;
}
