#root
{
  max-width: 1280px;
  padding: 2rem;
}

#terminal
{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.commandInput
{
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}
